@import "./abstracts/abstracts";
@import "./vendors/vendors";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./pages/pages";
@import "./themes/themes";
@import "settings";

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}
p{
    font-family: 'EB Garamond', serif;
}
@media (min-width: 375px) {
    body{
        width: 100%;
    }

    header{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: white;
        gap: 10px;

        .logo{
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            color: $colour-primary;
            font-size: 30px;
            font-family: $font-family;
        }
    }

    main{

        background-color: $colour-primary;

        .first_article{
            width: 100%;
            background-image: url(../img/people-play-youth-freedom-children-happy-1034018-pxhere.com.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            padding-bottom: 100px;


            p{
                max-width: 61%;
                color: white;
                font-size: 25px;
                font-family: 'EB Garamond', serif;
                padding: 10px;
            }

            svg{
                width: 100px;
                height: 100px;
                color: white;
            }
        }
        
        .second_article{
            background-color: $colour-primary;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            gap: 20px;
            p{
                font-size: 30px;
                font-family: 'EB Garamond', serif;
            
            }

            p:nth-of-type(2){
                text-align: center;
                font-family: 'EB Garamond', serif;
            }
        }
    }

    footer{
        background-color: $colour-primary;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: $font-family;
        font-size: 20px;
        padding: 50px;
        gap: 20px;

        p.telefono{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            svg{
                width: 30px;

            }
        }

        ul{
            display: flex;
            flex-direction: row;
            gap: 10px;
            list-style: none;
            justify-content: space-between;
        }

        a.correo{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            text-decoration: none;
            color: white;
        }

    }
}

@media (min-width: 425px) {
    body{
        width: 100%;
    }

    header{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: white;
        gap: 10px;

        .logo{
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            color: $colour-primary;
            font-size: 30px;
            font-family: $font-family;
        }
    }

    main{

        background-color: $colour-primary;

        .first_article{
            width: 100%;
            background-image: url(../img/people-play-youth-freedom-children-happy-1034018-pxhere.com.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            padding-bottom: 100px;


            p{
                max-width: 61%;
                color: white;
                font-size: 25px;
                font-family: 'EB Garamond', serif;
                padding: 10px;
            }

            svg{
                width: 100px;
                height: 100px;
                color: white;
            }
        }
        
        .second_article{
            background-color: $colour-primary;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            gap: 20px;
            p{
                font-size: 30px;
                font-family: 'EB Garamond', serif;
            
            }

            p:nth-of-type(2){
                text-align: center;
                font-family: 'EB Garamond', serif;
            }
        }
    }

    footer{
        background-color: $colour-primary;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: $font-family;
        font-size: 20px;
        padding: 50px;
        gap: 20px;

        p.telefono{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            svg{
                width: 30px;

            }
        }

        ul{
            display: flex;
            flex-direction: row;
            gap: 10px;
            list-style: none;
            justify-content: space-between;
        }

        a.correo{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            text-decoration: none;
            color: white;
        }

    }
}